In [2]:
import pandas as pd
import numpy as np
import seaborn as sns

In [3]:
df = pd.read_csv(r'C:\Users\b414410.STANLIB\Documents\Data science\Data_Files\Car prices.csv')

In [4]:
df.head()

  Make       Model  Year  ... city mpg  Popularity   MSRP
0  BMW  1 Series M  2011  ...       19        3916  46135
1  BMW    1 Series  2011  ...       19        3916  40650
2  BMW    1 Series  2011  ...       20        3916  36350
3  BMW    1 Series  2011  ...       18        3916  29450
4  BMW    1 Series  2011  ...       18        3916  34500

[5 rows x 16 columns]

In [5]:
# Question 1
# Whats the version of numpy

np.__version__

'1.20.3'

In [6]:
#%% Question 2
#Pandas version

pd.__version__

'1.3.2'

In [10]:
#%% Question 3
# What's the average price of BMW cars in the dataset?

df.groupby('Make')['MSRP'].mean().round(2)

Make
Acura              34887.59
Alfa Romeo         61600.00
Aston Martin      197910.38
Audi               53452.11
BMW                61546.76
Bentley           247169.32
Bugatti          1757223.67
Buick              28206.61
Cadillac           56231.32
Chevrolet          28350.39
Chrysler           26722.96
Dodge              22390.06
FIAT               22670.24
Ferrari           238218.84
Ford               27399.27
GMC                30493.30
Genesis            46616.67
HUMMER             36464.41
Honda              26674.34
Hyundai            24597.04
Infiniti           42394.21
Kia                25310.17
Lamborghini       331567.31
Land Rover         67823.22
Lexus              47549.07
Lincoln            42839.83
Lotus              69188.28
Maserati          114207.71
Maybach           546221.88
Mazda              20039.38
McLaren           239805.00
Mercedes-Benz      71476.23
Mitsubishi         21240.54
Nissan             28583.43
Oldsmobile         11542.54
Plymouth            3122.90
Pontiac            19321.55
Porsche           101622.40
Rolls-Royce       351130.65
Saab               27413.50
Scion              19932.50
Spyker            213323.33
Subaru             24827.50
Suzuki             17907.21
Tesla              85255.56
Toyota             29030.02
Volkswagen         28102.38
Volvo              28541.16
Name: MSRP, dtype: float64

In [11]:
#%% Question 4

# Select a subset of cars after year 2015 (inclusive, i.e. 2015 and after). 
# How many of them have missing values for Engine HP?

after_2015 = df[df['Year'] >= 2015]
after_2015['Engine HP'].isnull().sum()

51

In [15]:
#%% Question 5


# Calculate the average "Engine HP" in the dataset. = 249


#Use the fillna method and to fill the missing values in "Engine HP" with the mean value from the previous step.
df["Engine HP"] = df["Engine HP"].fillna(249)

# Now, calcualte the average of "Engine HP" again. = 249
df["Engine HP"].mean()

#Has it changed?
# NO

249.3838341447037

In [16]:
#%% Question 6

# Select all the "Rolls-Royce" cars from the dataset.
rr = df[df['Make'] == "Rolls-Royce"]

# Select only columns "Engine HP", "Engine Cylinders", "highway MPG".
rr_num = rr[["Engine HP", "Engine Cylinders", "highway MPG"]]

# Now drop all duplicated rows using drop_duplicates method (you should get a dataframe with 7 rows).
rr_num.drop_duplicates(inplace=True)

# Compute matrix-matrix multiplication between the transpose of X and X. 
# To get the transpose, use X.T. Let's call the result XTX.
X = rr_num.to_numpy()
X_transpose = X.T
XTX_matrix = np.dot(X_transpose, X)

# Invert XTX.
XTX_inv = np.linalg.inv(XTX_matrix)

# What's the sum of all the elements of the result? 
XTX_inv.sum().round(2)

C:\Users\b414410.STANLIB\AppData\Local\Continuum\anaconda3\envs\spyder-env\lib\site-packages\pandas\util\_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)

0.03

In [19]:
#%% Question 7

# Create an array y with values [1000, 1100, 900, 1200, 1000, 850, 1300].
y = np.array([1000, 1100, 900, 1200, 1000, 850, 1300])

# Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. 
# Call the result w.
d = np.dot(XTX_inv, X_transpose)
w = np.dot(d, y)

w[0]
# What's the value of the first element of w?. = 0.19989598

0.19989598183186175